@import './variables';

.char-list {
	width: 100%;
	padding: 1.5rem;
	display: grid;
	grid-template-rows: auto;
	row-gap: 4rem;
	position: relative;

	&__card {
		width: 100%;
		height: 5rem;
		display: grid;
		grid-template-columns: 10rem auto;
		animation: jumping2 4s infinite ease-in-out;

		&-left {
			display: grid;
			grid-template-rows: 1fr 1fr;
			position: relative;
			z-index: 10;

			&__avatars {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: -1.1rem;
				left: 0;
				width: 100%;
				& div {
					width: 5.2rem;
					height: 5.2rem;
					border: 0;
					border-radius: 10rem;
					background-size: cover;
					background-position: center;
				}

				& .photo0 {
					z-index: 2;
				}

				& .photo1 {
					margin-left: -1rem;
					z-index: 0;
				}
			}

			&__names {
				display: flex;
				align-items: center;
				height: 2.5rem;
				flex-direction: column;
				position: absolute;
				bottom: -1.1rem;
				left: 0;
				background-color: $color-main;
				width: 100%;
				border-radius: $br-sm;
				padding: 0.3rem 0.1rem;
				z-index: 4;

				& span {
					text-align: center;
					color: #ffffff;
					font-size: 0.8rem;
					display: grid;
					line-height: 0px;
					place-content: center;
					width: 100%;
					height: 100%;
					font-family: 'Amaranth', sans-serif;
					font-weight: bold;
				}
			}
		}

		&-right {
			position: relative;
			display: grid;
			grid-template-rows: auto auto;
			row-gap: 0.1rem;
			padding: 0.2rem 0.5rem 0.2rem 0;
			&__bg {
				position: absolute;
				left: -5rem;
				height: 100%;
				width: calc(100% + 5rem);
				z-index: 0;
				border-radius: 1rem;
				background-image: linear-gradient(to right, transparent, $color-white);
			}

			&__title {
				width: 100%;
				font-size: 0.8rem;
				color: $color-black;
				text-align: center;
				font-weight: bold;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				font-family: 'Roboto', sans-serif;
				z-index: 1;
			}
			&__date {
				width: 100%;
				font-size: 0.8rem;
				color: $color-black;
				text-align: center;
				font-weight: bold;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				font-family: 'Roboto', sans-serif;
				z-index: 1;
			}
		}
	}
}
